<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model Earn.Dashboard.Web.Models.PageModels.HomePageModel
@{
    ViewBag.Title = "Dashboard";
}
<div class="content-wrapper" style="min-height: 916px;">
    <!-- Page header -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><i class="fa fa-dashboard"> </i> Dashboard</li>
                <li class="active"> @DateTime.UtcNow.ToShortDateString() (UTC)</li>
            </ol>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.NewUsers</h3>
                        <p>New Members</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people-outline"></i>
                    </div>
                    <a href="/reports/merchantreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.NewCards</h3>
                        <p>New Cards</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-card"></i>
                    </div>
                    <a href="/reports/merchantreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.Earns</h3>
                        <p>Earn Transactions</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/reports/merchantreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.Burns</h3>
                        <p>Burn Transactions</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cart-outline"></i>
                    </div>
                    <a href="/reports/merchantreport" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>
    </section>
</div>