<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model DailyDealsVM
@{
    const string valentineRed = "#EE0000";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Happy Valentine's Day</title>
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <table width="560" cellpadding="20" cellspacing="0" style="margin-right: auto; margin-left: auto; margin-bottom: 0; margin-top: 0; width: 560px; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 20px; padding-bottom: 20px; padding-top: 20px; padding-right: 20px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">

        @* offers logo*@
        <tr>
            <td bgcolor="#505050" style="padding-bottom: 10px; padding-left: 20px; padding-right: 20px; padding-top: 10px; background-color: #505050;">
                <table bgcolor="#505050" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; background-color: #505050;">
                    <tbody>
                        <tr>
                            <td valign="bottom" align="left" style="vertical-align: bottom; text-align: left; width: 20%;">
                                <a href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;" target="_blank">
                                    <img width="146" height="35" border="0" src="https://az414848.vo.msecnd.net/assets/offers_email_logo.png" style="border: 0; width: 146px; height: 35px; vertical-align: bottom; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; font-size: 10px;" alt="Bing Offers" />
                                </a>
                            </td>
                            @if (!string.IsNullOrEmpty(Model.Location))
                            {
                                <td valign="baseline" align="left" style="vertical-align: baseline; text-align: left; font-size: 20px; line-height: 25px; color: #a2a2a2;">&nbsp;|&nbsp;<span style="color: white; font-weight: normal;">@Model.Location</span>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        @*valentine's message*@
        <tr>
            <td bgcolor="@valentineRed" style="padding-bottom: 20px; padding-left: 0; padding-right: 0; padding-top: 20px; background-color: @valentineRed; width: 100%">
                <table bgcolor="@valentineRed" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; color: #ffffff; background-color: @valentineRed;">
                    <tbody>
                        <tr>
                            <td valign="top" align="center" style="font-family: 'Segoe UI Semibold', 'Segoe UI', Arial, Helvetica, sans-serif; color: #ffffff; text-align: center; font-size: 16px; vertical-align: top">
                                <a target="_blank" href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="text-decoration: none; font-size: 16px; color: #ffffff;">HAPPY VALENTINE'S DAY
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" align="center" style="color: #ffffff; text-align: center; font-size: 12px; vertical-align: top">
                                <a target="_blank" href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="text-decoration: none; font-size: 12px; color: #ffffff;">Plan something special with our selection of restaurants and spas and make your day memorable.
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        @*hero tile*@
        <tr>
            <td style="height: 250px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px;">
                <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#cccccc" style="background-color: #cccccc; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">
                    <tr>
                        <td>
                            <a href="@Model.HeroDeal.TransactionUrl" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;">
                                <img width="560" height="250" align="middle" src="@Model.HeroDeal.LargeImageUrl" style="height: 250px; width: 560px; vertical-align: middle; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;" alt="@DailyDeals.ViewOffer" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td bgcolor="#f5f5f5" style="padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px; background-color: #f5f5f5;">
                <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#f5f5f5" style="background-color: #f5f5f5; color: #444444; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                    <tr>
                        <td align="left" style="text-align: left; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                            <table cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                                <tr>
                                    <td align="left" valign="top" style="vertical-align: top; text-align: left; padding-top: 0; padding-right: 0; padding-bottom: 10px; padding-left: 0; font-size: 20px; color: #444444;">@Model.HeroDeal.BusinessName
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="vertical-align: top; text-align: left; padding-top: 0; padding-right: 0; padding-bottom: 10px; padding-left: 0; font-size: 26px; color: #b4009e;">@Model.HeroDeal.Title
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="vertical-align: top; text-align: left; padding-top: 0; padding-right: 0; padding-bottom: 10px; padding-left: 0; font-size: 14px; color: #777777;">@Model.HeroDeal.Attribution
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#f5f5f5" style="background-color: #f5f5f5; color: #444444; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                                <tr>
                                    <td valign="bottom" style="width: 70%; text-align: left; vertical-align: bottom; padding-left: 0; padding-bottom: 5px; padding-top: 0; padding-right: 0;">
                                        <table bgcolor="#f5f5f5" cellspacing="0" cellpadding="0" width="100%" style="background-color: #f5f5f5; text-align: left; width: 100%; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                                            <tr>
                                                <td>
                                                    <table bgcolor="#f5f5f5" cellspacing="0" cellpadding="0" width="100%" style="background-color: #f5f5f5; text-align: left; width: 100%; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                                                        <tr>
                                                            <td valign="bottom" style="font-size: 12px; vertical-align: bottom; color: #b4009e;">@DailyDeals.SaveHeader</td>

                                                            @if (!string.IsNullOrEmpty(Model.HeroDeal.MinimumSpend))
                                                            {
                                                                <td valign="bottom" style="font-size: 12px; vertical-align: bottom; color: #b4009e;">
                                                                    @DailyDeals.SpendHeader
                                                                </td>
                                                            }
                                                        </tr>
                                                        <tr>

                                                            <td valign="bottom" style="font-size: 24px; font-weight: normal; vertical-align: bottom; color: #b4009e;">
                                                                @(!string.IsNullOrWhiteSpace(Model.HeroDeal.Discount) ? Model.HeroDeal.Discount : Model.HeroDeal.DiscountAmmount)
                                                            </td>
                                                            @if (!string.IsNullOrEmpty(Model.HeroDeal.MinimumSpend))
                                                            {
                                                                <td valign="bottom" style="font-size: 24px; font-weight: normal; vertical-align: bottom; color: #b4009e;">@Model.HeroDeal.MinimumSpend</td>
                                                            }
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="center" valign="middle" bgcolor="@valentineRed" style="width: 40%; text-align: center; vertical-align: middle; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; background-color: @valentineRed; color: #ffffff">
                                                    <a href="@Model.HeroDeal.TransactionUrl" target="_blank" style="font-size: 18px;  background-color: @valentineRed; text-decoration: none; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; color: #ffffff;">@DailyDeals.ViewOffer</a>

                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        @foreach (var deal in this.Model.FeaturedDeals)
        {
            <tr>
                <td style="padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px;">
                    <table bgcolor="#F5F5F5" cellspacing="0" cellpadding="0" width="100%" style="background-color: #F5F5F5; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">
                        <tr>
                            <td align="left" bgcolor="#cccccc;" style="width: 180px; height: 180px; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #cccccc; text-align: left">
                                <a href="@deal.TransactionUrl" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;">
                                    <img align="middle" height="180" width="180" src="@deal.MediumImageUrl" style="width: 180px; height: 180px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;" alt="@DailyDeals.ViewOffer" />
                                </a>
                            </td>
                            <td valign="top" bgcolor="#F5F5F5;" style="height: 180px; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; background-color: #F5F5F5;">
                                <table cellpadding="0" cellpadding="0" width="100%" style="width: 100%; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                    <tr>
                                        <td style="padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px;">
                                            <table bgcolor="#F5F5F5;" cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; background-color: #F5F5F5; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">

                                                <tr>
                                                    <td align="left" valign="top" style="text-align: left; vertical-align: top; padding-top: 0; padding-right: 10px; padding-bottom: 0; padding-left: 0;">
                                                        <table cellpadding="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                                            <tr>
                                                                <td align="left" valign="top" style="vertical-align: top; text-align: left; padding-top: 0; padding-right: 0; padding-bottom: 5px; padding-left: 0; font-size: 14px; color: #444444;">
                                                                    @deal.BusinessName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" style="vertical-align: top; text-align: left; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 18px; color: #b4009e;">
                                                                    @deal.Title
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td align="right" valign="top" style="width: 130px; vertical-align: top; text-align: right; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                                        <table cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                                                            <tr>
                                                                <td valign="top" align="right" style="text-align: right; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; font-size: 14px; color: #444444;">
                                                                    @if (!(string.IsNullOrWhiteSpace(deal.Discount) && string.IsNullOrWhiteSpace(deal.DiscountAmmount)))
                                                                    {
                                                                        @DailyDeals.SaveHeader
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" align="right" style="text-align: right; vertical-align: top; padding-top: 0; padding-right: 0; padding-bottom: 30px; padding-left: 0; font-size: 40px; color: #b4009e;">
                                                                    @(!string.IsNullOrWhiteSpace(deal.Discount) ? deal.Discount : deal.DiscountAmmount)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="middle" align="center" bgcolor="@valentineRed" style="vertical-align: middle; height: 35px; background-color: @valentineRed; text-align: center;">
                                                                    <a href="@deal.TransactionUrl" target="_blank" style="display: block; font-size: 16px;  background-color: @valentineRed; text-decoration: none; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; color: #ffffff; padding-left: 10px;">@DailyDeals.ViewOffer</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

        <tr>
            <td align="center" valign="middle" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 20px;">
                <table bgcolor="#f5f5f5" cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; background-color: #f5f5f5; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                    <tr>
                        <td bgcolor="#f5f5f5" valign="middle" align="center" style="background-color: #f5f5f5; vertical-align: middle; text-align: center; padding-bottom: 10px; padding-left: 0; padding-right: 0; padding-top: 10px;">
                            <a href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="text-decoration: none; font-size: 18px; color: @valentineRed;">@DailyDeals.MoreDealsText</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td align="center" valign="middle" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 100px; padding-right: 100px; padding-top: 20px;">
                <table cellspacing="0" cellpadding="0" width="100%" style="width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                    <tr>
                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                            <a href="@DailyDeals.FacebookShareUrl">
                                <img width="30" height="30" src="@DailyDeals.FacebookIconUrl" border="0" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="@DailyDeals.Facebook" />
                            </a>
                        </td>

                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                            <a href="@DailyDeals.TwitterShareUrl">
                                <img width="30" height="30" src="@DailyDeals.TwitterIconUrl" border="0" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="@DailyDeals.Twitter" />
                            </a>
                        </td>

                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                            <a href="@DailyDeals.PinterestShareUrl">
                                <img width="30" height="30" src="@DailyDeals.PinterestIconUrl" border="0" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="@DailyDeals.Pinterest" />
                            </a>
                        </td>

                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                            <a href="@DailyDeals.EmailShareUrl">
                                <img width="30" height="30" src="@DailyDeals.EmailIconUrl" border="0" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="@DailyDeals.email" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td valign="middle" style="vertical-align: middle; font-size: 11px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px; color: #777777;">
                <p align="left" style="text-align: left; font-size: 11px; color: #777777;">@DailyDeals.SubscriptionText</p>
                <p align="center" style="text-align: center; font-size: 11px; color: #777777; text-decoration: none;">@DailyDeals.MicrosoftAddress</p>
            </td>
        </tr>

        <tr>
            <td valign="middle" align="center" style="vertical-align: middle; text-align: center; font-size: 11px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px;">
                <table cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; font-size: 11px;">
                    <tr>
                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                            <a href="@DailyDeals.PrivacyStatementsUrl" style="font-size: 11px;">@DailyDeals.PrivacyStatements</a>
                        </td>
                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0;">
                            <a href="@DailyDeals.TermsConditionsUrl" style="font-size: 11px;">@DailyDeals.TermsConditions</a>
                        </td>
                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                            <a href="@DailyDeals.FeedbackUrl" style="font-size: 11px;">@DailyDeals.Feedback</a>
                        </td>
                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                            <a href="@Model.UnsubscribeUrl" style="font-size: 11px;">@DailyDeals.Unsubscribe</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td valign="middle" align="left" style="vertical-align: middle; text-align: left; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 30px;">
                <a href="@DailyDeals.MicrosoftUrl" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;">
                    <img width="70" src="@DailyDeals.MsLogoUrl" alt="@DailyDeals.Microsoft" style="width: 70px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; font-size: 10px;"  />
                </a>
            </td>
        </tr>

    </table>
</body>
</html>
