<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model string
@if(@ViewBag.doNotShowMore == null)
{
    <tr>
        <td style="padding: 0; padding-left:10px;"><a bgcolor="#ffb900" width="240px" height="40px" target="_blank" href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="display: block; height: 45px; line-height: 45px; font-size: 30px; text-align:center; width: 240px; background-color: #ffb900; text-decoration: none; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; color: #505050; padding-left: 10px;">@CardLink.More</a></td>
    </tr>
}

@if(@ViewBag.showWarning != null)
{
<tr>
    <td height="15px" style="height: 15px; padding: 0"></td>
</tr>
<tr>
    <td style="padding: 0"><hr style="border-bottom: 1px solid #e1e0df;" /><p style="color: #505050; font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif;"><b>@CardLink.Note @CardLink.NewAuthUnauthenticatedUserWarning <a href="http://bingoffers.uservoice.com/forums/178960-bing-offers-user-feedback" target="_blank">@CardLink.Bingofferssupport</a></b></p></td>
</tr>
}else{
 <tr>
    <td height="10px" style="height: 56px; padding: 0"></td>
</tr>   
}

<tr>
    <td style="padding: 0">
        <hr style="border-bottom: 1px solid #e1e0df;" />
        @if (!string.IsNullOrEmpty(Model))
        {
            <p style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 10px; color: #505050;">@Model</p>
        }
        <p style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 10px; color: #505050;">@CardLink.FinePrint_NoReply</p>
    </td>
</tr>