<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model string
<!-- Start of Footer -->
<table width="100%" bgcolor="#d8d8d8" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="preheader">
    <tbody>
        <tr>
            <td>
                <table bgcolor="#f5f5f5" width="560" width="560" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%">
                                <table cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left: 20px; padding-right: 10px;">
                                                <table>
                                                    <tbody>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td align="left" valign="middle" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 11px; color: #777777; text-align: left;" st-content="viewonline">You are receiving this email because you have signed up to receive Bing Offers communications. If you prefer not to receive future offer emails, it's easy to <a target="_blank" href="@Model" style="font-size: 11px; text-decoration: underline">unsubscribe</a>. 
                                                                <br />
                                                                Be sure to add deals@bingoffers.com to your address book or safe senders list, so our emails get to your inbox.
                                                            </td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td valign="middle" align="center" style="vertical-align: middle; text-align: center; font-size: 11px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0;">
                                                                <table cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; font-size: 11px;">
                                                                    <tr>
                                                                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 33%;">
                                                                            <a target="_blank" href="@DailyDeals.PrivacyStatementsUrl" style="font-size: 11px;">@DailyDeals.PrivacyStatements</a>
                                                                        </td>
                                                                        <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0;">
                                                                            <a target="_blank" href="@DailyDeals.TermsConditionsUrl" style="font-size: 11px;">@DailyDeals.TermsConditions</a>
                                                                        </td>
                                                                        <td target="_blank" valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 33%;">
                                                                            <a target="_blank" href="@DailyDeals.FeedbackUrl" style="font-size: 11px;">@DailyDeals.Feedback</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td width="100%" height="20"></td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td valign="middle" align="left" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 11px; color: #777777; vertical-align: middle; text-align: left;" t-content="viewonline">
                                                                <a target="_blank" href="@DailyDeals.MicrosoftUrl" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;">
                                                                    <img width="70" src="@DailyDeals.MsLogoUrl" alt="@DailyDeals.Microsoft" style="width: 70px; border: 0; font-size: 10px;"  />
                                                                </a>&nbsp; | &nbsp;Microsoft Corporation, One Microsoft Way, Redmond WA 98052, USA 
                                                            </td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <!-- Spacing -->
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- End of Footer -->