<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>@DailyDeals.ChangeTerms_Title</title>
</head>
<body>

    <table width="100%" cellpadding="20" cellspacing="0" style="margin-right: auto; margin-left: auto; margin-bottom: 0; margin-top: 0; width: 100%; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 20px; padding-bottom: 20px; padding-top: 20px; padding-right: 20px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">
        @Html.Partial("~/Views/CardLink/Partial/TransactionHeader.cshtml")
        <tr>
            <td align="left" valign="middle" style="color: #505050; font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; text-align: left; vertical-align: middle; padding-top: 0; padding-right: 11px; padding-bottom: 10px; padding-left: 11px;">
                <p>
                    @Html.Raw(string.Format(DailyDeals.ChangeTerms_Updated, string.Format("https://www.bing.com/offers/cardlinkterms?bor={0}&bof={1}", ViewBag.referrer, ViewBag.campaign)))
                </p>
                <p>
                    @Html.Raw(string.Format(DailyDeals.ChangeTerms_Agree, string.Format("https://www.bing.com/offers/Settings/CardLinked?bor={0}&bof={1}", ViewBag.referrer, ViewBag.campaign)))
                </p>
                <p>
                    @Html.Raw(string.Format(DailyDeals.ChangeTerms_Questions, "http://bingoffers.uservoice.com"))
                </p>
            </td>
        </tr>

        @Html.Partial("~/Views/CardLink/Partial/TransactionFooter.cshtml")
    </table>

</body>
</html>
